/* Componentes específicos */
.texto {
  position: absolute;
  width: 42%;
  height: 60%;
  left: 12%;
  top: 15%;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  background-color: #f3f5fc;
}

.texto::placeholder {
  color: #0a3871;
}

.texto:focus,
.texto:active {
  border: none;
  outline: none;
}

.terminos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 80%;
  left: 12%;
  top: 80%;
}

.terminos p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
}

.botones {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1% 0;
  position: absolute;
  width: 80%;
  left: 12%;
  top: 82%;
}

.btn-encriptar,
.btn-desencriptar,
.btn-copiar {
  align-items: center;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 25%;
  border-radius: 24px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  transition: all 0.3s ease;
}

.btn-encriptar {
  background-color: #0a3871;
  color: #fff;
}

.btn-desencriptar {
  background: #d8dfe8;
  border: 1px solid #0a3871;
  color: #0a3871;
}

.btn-copiar {
  background: #0a3871;
  color: #fff;
  margin-top: 10px;
}

.btn-desencriptar:hover,
.btn-encriptar:hover,
.btn-copiar:hover {
  transform: scale(1.05);
}

.encriptado {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 90%;
  left: 60%;
  top: 5%;
  background: #fff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.mensaje-encriptado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  gap: 16px;
  position: absolute;
  width: 100%;
  top: 65%;
  text-align: center;
}

.mensaje-encriptado h2 {
  width: 60%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343a40;
}

.mensaje-encriptado p {
  width: 80%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
}

.encriptado img {
  position: absolute;
  width: 80%;
  height: 50%;
  top: 15%;
}

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .texto {
    width: 82%;
    height: auto;
    left: 5%;
    top: 5%;
    font-size: 20px;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  }

  .terminos {
    width: 90%;
    left: 5%;
    top: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .botones {
    width: 90%;
    left: 5%;
    top: 60%;
    display: flex;
    justify-content: space-between;
  }

  .btn-encriptar,
  .btn-desencriptar {
    width: 48%;
    border-radius: 16px;
  }

  .btn-copiar {
    width: 50%;
    margin-top: 10px;
    border-radius: 16px;
  }

  .encriptado {
    width: 80%;
    height: auto;
    left: 5%;
    top: 3000px;
    top: 70%;
    padding: 20px;
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  }

  .mensaje-encriptado {
    width: 100%;
    top: auto;
    padding: 10px;
  }

  .mensaje-encriptado h2 {
    font-size: 20px;
  }

  .mensaje-encriptado p {
    font-size: 14px;
  }

  .encriptado img {
    display: none;
  }
}
