:root {
  --primary-color: #0a3871;
  --secondary-color: #d8dfe8;
  --text-color: #495057;
  --secondary-text-color: #ffffff;
  --font-family: "Inter", sans-serif;
  --default-radius: 16px;
  --desktop-btn-radius: 24px;
}

/* ======================= */
/* Componentes Específicos */
/* ======================= */

/* --- Estilo de logo (.logo) --- */
.logo {
  width: 120px;
  height: 120px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* --- Input de texto (.texto) --- */
.texto {
  position: absolute;
  inset: 15% auto auto 12%;
  width: 39%;
  height: 60%;
  padding: 10px;
  border-radius: var(--default-radius);
  font: normal 400 32px/150% var(--font-family);
  background: linear-gradient(180deg, #fff 0%, #f9f9f9 100%);
  resize: none;
}

.texto::placeholder {
  color: var(--primary-color);
  font-size: 24px;
}

.texto:focus,
.texto:active {
  border: none;
  outline: none;
  font-size: 24px;
}

/* --- Sección de Términos (.terminos) --- */
.terminos {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  inset: 82% auto auto 12%;
  width: 40%;
}

.terminos p {
  font: 400 12px/150% var(--font-family);
  color: var(--secondary-text-color);
  opacity: 0.8;
}

/* --- Sección de Botones (.botones y botones individuales) --- */
.botones {
  display: flex;
  align-items: flex-start;
  padding: 1% 0;
  position: absolute;
  inset: 85% auto auto 12%;
  width: 41%;
  gap: 20px;
}

/* Estilos comunes para los botones */
.btn-encriptar,
.btn-desencriptar,
.btn-copiar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 45%;
  margin: auto;
  border-radius: var(--desktop-btn-radius);
  font: 18px/19px var(--font-family);
  transition: all 0.3s ease;
}

/* Ajuste específico para encriptar, desencriptar y copiar */
.btn-encriptar,
.btn-copiar {
  background: var(--primary-color);
  color: #fff;
}

.btn-desencriptar {
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-copiar {
  margin-top: 10px;
  width: 25%;
}

/* Estilos de hover para los botones */
.btn-encriptar:hover,
.btn-desencriptar:hover,
.btn-copiar:hover {
  transform: scale(1.05);
}

/* --- Contenedor Encriptado (.encriptado) --- */
.encriptado {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 90%;
  left: 63%;
  top: 5%;
  border-radius: 32px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
  background: linear-gradient(180deg, #fff 0%, #f9f9f9 100%);
  transition: box-shadow 0.3s ease, background 0.3s ease;
}

.encriptado:hover {
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
}

/* Sección del mensaje encriptado */
.mensaje-encriptado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  gap: 16px;
  position: absolute;
  width: 90%;
  top: 65%;
  text-align: center;
}

.mensaje-encriptado h2 {
  width: 60%;
  font: 700 24px/120% var(--font-family);
  color: #343a40;
}

.mensaje-encriptado p {
  width: 80%;
  font: 400 16px/150% var(--font-family);
  color: var(--text-color);
}

/* Imagen dentro de .encriptado */
.encriptado img {
  position: absolute;
  width: 80%;
  height: 50%;
  top: 15%;
}

/* ============================== */
/* Estilos Responsive (Móviles) */
/* ============================== */
@media (max-width: 480px) {
  .logo {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .texto {
    width: 82%;
    height: auto;
    left: 5%;
    top: 5%;
    font-size: 20px;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  }

  .terminos {
    width: 90%;
    left: 5%;
    top: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .botones {
    width: 90%;
    left: 5%;
    top: 60%;
    display: flex;
    justify-content: space-between;
  }

  .btn-encriptar,
  .btn-desencriptar {
    width: 48%;
    border-radius: 16px;
  }

  .btn-copiar {
    width: 50%;
    margin-top: 10px;
    border-radius: 16px;
  }

  .encriptado {
    width: 80%;
    height: auto;
    left: 5%;
    top: 70%;
    padding: 20px;
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  }

  .mensaje-encriptado {
    width: 100%;
    top: auto;
    padding: 10px;
  }

  .mensaje-encriptado h2 {
    font-size: 20px;
  }

  .mensaje-encriptado p {
    font-size: 14px;
  }

  .encriptado img {
    display: none;
  }
}
